<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1094658712632-uishjgr6qbtpa4uk2q7v3l8v72rlsr3d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1094658712632-uishjgr6qbtpa4uk2q7v3l8v72rlsr3d</string>
	<key>API_KEY</key>
	<string>AIzaSyD2L9cf172NVWzY-XlN5kBa9jPUhCxA1RQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1094658712632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.omerKilicaslan.Breaking-News</string>
	<key>PROJECT_ID</key>
	<string>breakingnewsapp-77315</string>
	<key>STORAGE_BUCKET</key>
	<string>breakingnewsapp-77315.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094658712632:ios:8c0b2009077450eab872cd</string>
</dict>
</plist>